$bg1_dark: rgba(55, 51, 49, 1);
$bg2_dark: rgba(50, 45, 33, 1);
$text1_dark: rgba(255, 243, 225, 1);
$text2_dark: rgba(250, 250, 250, 1);

$bg2_light: rgba(255, 243, 225, 1);
$bg1_light: rgba(250, 237, 218, 1);
$text1_light: rgba(50, 45, 33, 1);
$text2_light: rgba(55, 51, 49, 1);

$button_1: rgba(155, 244, 213, 1);

$gutter_s: 5px;
$gutter_m: 10px;
$gutter_l: 15px;
